/** GLOBAL **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}
/* COLORS */
:root {
  --BrightRed: hsl(12, 88%, 59%);
  --bs-primary-rgb: 242, 95, 58;
  --DarkBlue: hsl(228, 39%, 23%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VaryLightGray: hsl(0, 0%, 98%);
  /* --bs-primary: var(--BrightRed); */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  color: var(--DarkBlue);
}
p {
  font-weight: 400;
  color: var(--DarkGrayishBlue);
}
/* BUTTON */
.btn {
  --bs-btn-border-radius: 50px;
}
.btn.btn-primary {
  --bs-btn-bg: var(--BrightRed);
  --bs-btn-hover-bg: var(--BrightRed);
  --bs-btn-border-color: var(--BrightRed);
  --bs-btn-hover-border-color: var(--BrightRed);
}
.btn.btn-invert {
  --bs-btn-bg: var(--VaryLightGray);
  --bs-btn-hover-bg: var(--VaryLightGray);
  --bs-btn-border-color: var(--VaryLightGray);
  --bs-btn-hover-border-color: var(--VaryLightGray);
  --bs-btn-color: var(--BrightRed);
}
img {
  width: 100%;
}

/** MOBILE VIEW: 375px **/
.bg-pale-red {
  background-color: var(--VeryPaleRed);
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar .navbar-toggler {
  --bs-border-width: 0;
}
.navbar .navbar-nav .nav-link {
  text-align: center;
  font-weight: bold;
}

.hero-wrapper .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  text-align: center;
}
.hero-content .call-to-action {
  padding: 15px 20px;
}

.about .about-feature .feature-header {
  border-radius: 50px 0 0 50px;
}
.testimonials .carousel .carousel-inner {
  padding-top: 50px;
}
.testimonials .card {
  background-color: var(--VaryLightGray);
  border: 0;
  box-shadow: hsl(0, 0%, 98%) 0px 0px 10px 1px;
}
.testimonials .card .card-avatar {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
.testimonials .card .card-avatar img {
  height: 80px;
  width: 80px;
}

.banner {
  background-color: var(--BrightRed);
}
.banner h2 {
  color: var(--VaryLightGray);
}

.footer {
  background-color: var(--VeryDarkBlue);
  color: var(--VaryLightGray);
}
.footer .social-menu li img {
  height: 40px;
}

/** TABLET VIEW: 768px **/
@media screen and (min-width: 768px) {
}

/** DESKTOP VIEW: 1440px **/
@media screen and (min-width: 1024px) {
  .navbar .navbar-nav .nav-link {
    text-align: left;
    font-weight: normal;
  }

  .hero-wrapper .hero {
    justify-content: space-between;
    flex-direction: row;
  }
  .hero .hero-content {
    max-width: 375px;
    text-align: left;
  }
}
